<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63824334249-2pmbprio2esle3r8epqcmipaqbmtmv2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63824334249-2pmbprio2esle3r8epqcmipaqbmtmv2p</string>
	<key>API_KEY</key>
	<string>AIzaSyARMOiRKZzG2Gi7pWVeXk9f1OuY4cPYO8E</string>
	<key>GCM_SENDER_ID</key>
	<string>63824334249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tssturner.tssiosapp</string>
	<key>PROJECT_ID</key>
	<string>tssiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tssiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63824334249:ios:212b868ab22972796808b8</string>
</dict>
</plist>